:root {
    --color: #000;
    --color-primary: #ffe400;
    --color-secondary: #071521;
    --bg: #fff;
    --bg-secondary: #f3f5f4;
    --border-color: #ddd;
    --border-secondary: #222629;
    --golden: #f5c518;
}

.dark-mode {
    --color: #ebf4f1;
    --color-primary: #ffe400;
    --color-secondary: #fdf9f3;
    --bg: #222629;
    --bg-secondary: #071521;
    --border-color: #474b4f;
    --border-secondary: #fff;
    --golden: #f5c518;

}

.sepia-mode {
    --color: #433422;
    --color-secondary: #504231;
    --bg: #f1e7d0;
    --bg-secondary: #eae0c9;
    --border-color: #fff;
    --border-secondary: #222629;
    --golden: #f5c518;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s;
}

.fa,
.fas,
.far {
    font-family: 'FontAwesome';
    font-style: initial;
}

a,
button {
    outline: none !important;

    &:focus {
        outline: none !important;
    }
}

.theme-switch {
    position: fixed;
    right: 0;
    top: 35%;
    z-index: 999;

    .theme-switch-btn {
        background: transparent !important;
        border: none;
        color: var(--color-secondary);
        outline: none !important;
        animation: spin infinite 5000ms linear;

        &:focus {
            outline: none !important;
            border: none !important;
            box-shadow: none;
        }

        &:hover {
            animation: none;
        }

        i {
            font-size: 25px;

        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.dropdown-menu {
    background: var(--color-secondary);

    .dropdown-item {
        color: var(--bg);

        &.active,
        &:active,
        &:hover {
            background-color: var(--border-color);
            color: var(--color) !important;
        }

    }
}

i.fa-star {
    color: var(--golden);
}

i.fa-clock {
    &::before {
        content: '\f017';
    }
}

.btn-golden {
    background-color: var(--golden);
    color: #fff;
    border-radius: 5px;

}

.btn-outline-golden {
    background-color: transparent;
    border: 1px solid var(--golden);
    border-radius: 5px;
    color: var(--golden);

    &:hover {
        color: var(--color-secondary);
    }
}


.slick-prev:before,
.slick-next:before {
    color: var(--golden) !important;
    opacity: 1 !important;
}

.slick-dots {
    bottom: -10px !important;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: var(--golden) !important;
    font-size: 18px;

}

.navbar-nav .dropdown-menu {
    width: auto !important;
    min-width: 100px !important;
    max-width: 300px !important;
}

.input-group-append {
    display: flex;
    align-items: center;
    background: var(--border-secondary);
    color: var(--border-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 10%;
    justify-content: center;

    i {
        cursor: pointer;
        // updating it
    }
}